container_commands:
  01_killauto:
    command: "echo 'Disabling default EB WSGI server'"

  02_startapp:
    command: |
      cat << 'EOF' > /opt/elasticbeanstalk/hooks/appdeploy/pre/01_start_app.sh
      #!/bin/bash
      echo 'Starting FastAPI with Gunicorn + UvicornWorker'
      gunicorn -k uvicorn.workers.UvicornWorker application:app --bind 0.0.0.0:8000
      EOF
    mode: "000755"
